:root {
    --primary: rgb(71, 58, 255);
    --secondary: rgb(46, 46, 46);
}

* {
    box-sizing:border-box;
    scroll-behavior: smooth;
}

body {
    overflow-x:hidden;
    padding:0;
    margin:0;
    transition:all .25s;
    color: white;
}